body{
  background-color: black;
  color: white;
}

h1, h2, h3, link{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.clean{
  margin: 0;
  padding: 0;
}